
<h3 class="descriprion-text mb-3">Цвет кожи</h3>

    <div class="color-choose mb-3">
        <div>
            <input data-image="black" type="radio" id="black" name="color" value="black" checked>
            <label for="black"><span></span></label>
        </div>
        <div>
            <input data-image="white" type="radio" id="white" name="color" value="white">
            <label for="white"><span></span></label>
        </div>
        <div>
            <input data-image="blue" type="radio" id="blue" name="color" value="blue">
            <label for="blue"><span></span></label>
        </div>
        <div>
            <input data-image="brown" type="radio" id="brown" name="color" value="brown">
            <label for="brown"><span></span></label>
        </div>
</div>

<h3>Размер</h3>

<div class="d-flex flex-column align-items-start">

    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name="size" checked="checked" value="cтандартный мужской" id="man"/> <label class="custom-control-label" for="man"> <h5>cтандартный мужской</h5> </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name="size" value="cтандартный женский" id="woman"/><label class="custom-control-label" for="woman"> <h5>cтандартный женский</h5> </label>
    </div>
    <div class="custom-control custom-radio text-left mb-4" id="own-input">
            <input type="radio"class="custom-control-input" name="size" value="указать размер" id="own"/> <label class="custom-control-label" for="own"> <h5> указать размер</h5> </label>

            <div class="input-group input-group-sm mb-3" id="own-size">
                <input id="product-own-size-input" type="number" min="0" class="form-control" name="size" placeholder="размер" aria-label="size">
                <div class="input-group-append">
                    <span class="input-group-text font-weight-bold"> см</span>
                </div>
            </div>

            
    </div>
</div>

<div class="row">
 <div class="col-sm-6">
            <h3>Количество</h3>
            
            
            <div class="row justify-content-center">
                <div class="col-5">

                    <div class="input-group input-group-sm mb-3" id="amount">
                        <input id="" type="number" min="0" value="1" class="form-control font-weight-bold" placeholder="" name="amount" aria-label="size">
                        <div class="input-group-append">
                            <span class="input-group-text font-weight-bold"> шт.</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>    
 <div class="col-sm-6">

        <h3>Цена</h3>
        
        <div class="input-group input-group-sm mb-3" id="">
            <input id="" type="number" min="0" class="form-control" placeholder="размер" aria-label="size">
            <div class="input-group-append">
                <span class="input-group-text font-weight-bold"> $</span>
           </div>
       </div>
    </div>
</div>
    
