<h3 class="descriprion-text">Материал изделия</h3>

<div class="d-flex flex-column align-items-start">

    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name="материал" checked="checked" value="серебро 925" id="silver" /> <label class="custom-control-label" for="silver"> <h5 class="descriprion-text">серебро 925°</h5> </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name="материал" value="позолота 925" id="gilding"/><label class="custom-control-label" for="gilding"> <h5 class="descriprion-text">позолота 925°</h5> </label>
    </div>
    <div class="custom-control custom-radio">
            <input type="radio"class="custom-control-input" name="материал" value="золото 585" id="gold"/><label class="custom-control-label" for="gold"> <h5 class="descriprion-text">золото 585°</h5> </label>
        </div>
            
</div>

<div class="row">
 <div class="col-sm-6">
            <h3 class="descriprion-text">Количество</h3>
            
            
            <div class="row justify-content-center">
                <div class="col-5">

                    <div class="input-group input-group-sm mb-3" id="amount">
                        <input id="quantity-input" type="number" min="1" value="1" class="form-control font-weight-bold" placeholder="" name="amount" aria-label="size">
                        <div class="input-group-append">
                            <span class="input-group-text font-weight-bold"> шт.</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>    
 <div class="col-sm-6">

        <h3 class="descriprion-text">Цена</h3>
        
        <div>
            <h5 class="descriprion-text font-weight-bold"><strike class="text-danger" id="product-discount"></strike> <span id="totalPrice"></span>$</h5>
        </div>

    </div>
</div>
    
