{% load i18n %}
<h3 class="descriprion-text">{% trans "Product material" %}</h3>

<div class="d-flex flex-column align-items-start">

    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name={% trans "material" %} checked="checked" value="{% trans "silver 925°" %}" id="silver" /> <label class="custom-control-label" for="silver"> <h5 class="descriprion-text">{% trans "silver 925°" %}</h5> </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name={% trans "material" %} value='{% trans "gilding 925°" %}' id="gilding"/><label class="custom-control-label" for="gilding"> <h5 class="descriprion-text">{% trans "gilding 925°" %}</h5> </label>
    </div>
    <div class="custom-control custom-radio">
            <input type="radio"class="custom-control-input" name={% trans "material" %} value='{% trans "gold 925°" %}' id="gold"/><label class="custom-control-label" for="gold"> <h5 class="descriprion-text">{% trans "gold 925°" %}</h5> </label>
        </div>
            
</div>

<h3 class="descriprion-text">{% trans "Chain length" %}</h3>

<div class="d-flex flex-column align-items-start">
    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name={% trans "length" %} checked="checked" value='{% trans "standard male" context 'chain length' %}' id="man"/> <label class="custom-control-label" for="man"> <h5 class="descriprion-text">{% trans "standard male" context 'chain length' %}</h5> </label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio"class="custom-control-input" name={% trans "length" %} value='{% trans "standard female" context 'chain length' %}' id="woman"/><label class="custom-control-label" for="woman"> <h5 class="descriprion-text">{% trans "standard female" context 'chain length' %}</h5> </label>
    </div>
    <div class="custom-control custom-radio text-left mb-4" id="own-input">
            <input type="radio"class="custom-control-input" name={% trans "length" %} value="other" id="own"/> <label class="custom-control-label" for="own"> <h5 class="descriprion-text">{% trans "own length" %}</h5> </label>

            <div class="input-group input-group-sm mb-3" id="own-size">
                <input id="product-own-size-input" type="number" min="0" value="1" class="form-control" name="length" placeholder={% trans "length" %} aria-label="length">
                <div class="input-group-append">
                    <span class="input-group-text font-weight-bold descriprion-text">{% trans "cm" %}</span>
                </div>
            </div>

            
    </div>
</div>

<div class="row">
 <div class="col-sm-6">
            <h3 class="descriprion-text">{% trans "Quantity" %}</h3>
            
            
            <div class="row justify-content-center">
                <div class="col-4">

                    <div class="input-group input-group-sm mb-3" id="amount">
                        <input id="quantity-input" type="number" min="1" value="1" class="form-control font-weight-bold" placeholder="" name="amount" aria-label="size">
                        <div class="input-group-append">
                            <span class="input-group-text font-weight-bold"></span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>    
 <div class="col-sm-6">

        <h3 class="descriprion-text">{% trans "Price" %}</h3>
        
        <div>
            <h5 class="descriprion-text font-weight-bold"><strike class="text-danger" id="product-discount"></strike> <span id="totalPrice"></span>$</h5>
        </div>

    </div>
</div>
    
