{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<div class="row mx-0">
  <div class="col-md-8 offset-md-2 mt-3">
  
<table class="table table-hover table-bordered text-center">
      <tr class="text-center">
        <th class="align-middle">{% trans "Date Ordered" %}</th>
        <th class="align-middle">{% trans "Reference Code" %}</th>
        <th class="align-middle">{% trans "Items" %}</th>
        <th class="align-middle">{% trans "Price" %}</th>
      </tr>
      {% for order in my_orders|slice:"::-1" %}
        <tr>
          <td class="align-middle">{{ order.date_ordered }}</td>
          <td class="align-middle">{{ order.ref_code }}</td>
          <td class="align-middle text-left">
            {% for item in order.items.all %}
            <a class="profile-product-link " href="{% url 'product:product_detail' product_id=item.product.id %}">
              <span class="badge badge-secondary description-text">Product code:{{item.product.id}}</span>
              {{ item.product.name }}  ({{ item.details }}) <span class="font-weight-bold">&times</span> {{ item.nmb }}
              <br>
            </a>
              {% endfor %}
            </td>
          <td class="align-middle">${{ order.get_cart_total }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan= 4> You have no orders.</td>
        </tr>
      {% endfor %}
    </table> 
    <div class="row mx-0">
      <div class="col-6 offset-3">
        
    <a href="{% url 'landing:home' %}" class="btn btn-block btn-info pull-left">
            {% if not order %}{% trans "Continue Shopping" %}{% else %}{% trans "Add Items to Cart" %} {% endif %}
          </a>
      </div>
    </div>

  </div>
</div>

{% endblock content %}