{% extends "base.html" %}
{% load static %}
{% load extra_tags %}

{% block content %}
<div class="container-fluid img-h2-detail mb-3">
    <h2 class="black-text text-center home"> handmade with love</h2>
</div>

<div class="product-detail-container">
    <div class="row mx-0">
        <div class="col-lg-6">
        <div class="">

            {% if product.discount %}
                <div class="discount-container text-center d-flex flex-row justify-content-center">
                    <h6 class="mb-0"><i>-{{product.discount}}%</i></h6>
                </div>
            {% endif %}

            <div class="carousel slide" id="{{product.id}}" data-ride='carousel' data-pause="false" data-interval='5000'>

                <div class="">

                    <div class="carousel-inner">
                        
                        {% for img in product.product_imgs.all %}
                        
                        {% if forloop.first%}
                        <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                                {% endif %}
                                
                                
                                <img src="{{ img.image.url }}" alt="product img" class="img-fluid d-block rounded">
                                
                            </div>
                            {% endfor %}
                        </div> <!-- carousel-inner -->
                </div>

            
            <a class="carousel-control-prev" href="#{{product.id}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#{{product.id}}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

            </div>

        </div> <!-- fix -->
        </div>

        <div class="col-lg-6">
        <div class="fixdiv">

            
        <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Оформление заказа</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
        </div>
        
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex flex-column align-items-center">
                        <h1 class="descriprion-text">{{product.name}}</h1>
                        <h4 class="descriprion-text">{{ product.description }}</h4>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
            </div>
            <div>
                <form action={% url 'landing:home' %} id="purchase-form"> {% csrf_token %}
                    <div class="text-center button-join-us">
                        <div class="row">
                            <div class="col-md-12">
                                {% with 'product_forms/'|add:product.category.name|nospace|add:'.html' as special_order_form %}
                                {% include special_order_form with product=product %}
                                {% endwith %}
                                
                                <button type="submit" class="btn btn-success btn-block add-to-cart" id="purchase-submit-btn" 
                                data-product_id="{{product.id}}"
                                data-name="{{product.name}}"
                                data-price="{{product.price}}"
                                data-discount="{{product.discount}}"
                                
                                >Добавить в корзину</button>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            
        </div><!-- flex -->
        </div>
        
    </div>
    
</div>
<div class="section-delivery d-flex justify-content-center">
    <div class="align-self-center">
        <h3>Free shipping</h3>
    </div>
</div>


{% endblock content %}
{% block script %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock script %}