{% extends "landing/categories_detail.html" %}
{% comment %} {% extends "base.html" %} {% endcomment %}

{% load static extra_tags i18n %}

{% comment %} {% block breadcrumbs_container %}
{% with category=product.category %}
    {{ block.super }}
{% endwith%}
{% endblock breadcrumbs_container %}
{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
{% endblock breadcrumbs %} {% endcomment %}

{% block breadcrumbs_container %}
<div class='row mx-1'>
    <div class='col-sm-12 col-xl-4 '>
        {% if product.for_children %}
        <a href={% url 'landing:categories' category=0 %} class="btn btn-light btn-lg active d-block back-btn descriprion-text" role="button" aria-pressed="true"> <i class="fas fa-sm fa-chevron-left"></i> {{ category.name }}</a>
        {% else %}
            <a href={{product.category.get_absolute_url}} class="btn btn-light btn-lg active d-block back-btn descriprion-text" role="button" aria-pressed="true"> <i class="fas fa-sm fa-chevron-left"></i> {{ product.category.name }}</a>
        {% endif %}
    </div>
</div>
{% endblock breadcrumbs_container %}


{% block content %}
<div class="container-fluid img-h2-detail mb-3">
    <h2 class="black-text text-center home"> handmade with love</h2>
</div>

<div class="product-detail-container">
    <div class="row mx-0">
        <div class="col-lg-6">
        <div class="">

            {% if product.discount %}
                <div class="discount-container text-center d-flex flex-row justify-content-center">
                    <h6 class="mb-0"><i>-{{product.discount}}%</i></h6>
                </div>
            {% endif %}

            <div class="carousel slide" id="{{product.id}}" data-ride='carousel' data-pause="false" data-interval='5000'>

                <div class="">

                    <div class="carousel-inner">
                        
                        {% for img in product.product_imgs.all %}
                        
                        {% if forloop.first%}
                        <div class="carousel-item active">
                            {% else %}
                            <div class="carousel-item">
                                {% endif %}
                                
                                
                                <img src="{{ img.image.url }}" alt="product img" class="img-fluid d-block rounded">
                                
                            </div>
                            {% endfor %}
                        </div> <!-- carousel-inner -->
                </div>

            
            <a class="carousel-control-prev" href="#{{product.id}}" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#{{product.id}}" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

            </div><!--carousel-->

        </div> <!-- fix -->
        </div> <!--col-->

        <div class="col-lg-6">
        <div class="fixdiv">

            
        <div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"> {% trans "Description"%}</a>


                    </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans "Product characteristics"%}</a>
                </li>
            </ul>
        </div>
        
            <div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex flex-column align-items-start">
                        <h1 class="descriprion-text"> {{product.name}} </h1>
                        <span class="badge badge-primary">{% trans "Product code" %}: {{product.id}}</span>
                    </div>
                
                <!---->
                <div>
                <form action={% url 'shopping_cart:add_to_cart' item_id=product.id %} id="purchase-form" method="POST"> {% csrf_token %}
                    <div class="text-center button-join-us">
                        <div class="row">
                            <div class="col-md-12">
                                {% with 'product_forms/'|add:product.category.name|nospace|add:'.html' as special_order_form %}
                                {% include special_order_form with product=product %}
                                {% endwith %}
                                
                               {% if request.user.is_authenticated %}
                               {% if product in current_order_products %}
                               <a href="{% url 'shopping_cart:order_summary' %}" class="btn btn-block btn-secondary" id="purchase-submit-btn" type="button"
                               data-product_id="{{product.id}}"
                               data-name="{{product.name}}"
                               data-price="{{product.price}}"
                               data-discount="{{product.discount}}"
                               >{% trans "Go to Cart" %}</a>
                               {% else %}
                               <span id="span-purchase-submit-btn">
                                   <button type="submit" class="btn btn-success btn-block add-to-cart" id="purchase-submit-btn" 
                                   data-product_id="{{product.id}}"
                                   data-name="{{product.name}}"
                                   data-price="{{product.price}}"
                                   data-discount="{{product.discount}}"
                                   >{% trans "Add to cart" %}</button>
                                </span>
                               {% endif %}

                               {% else %}
                               
                               <button type="button" class="btn btn-success btn-block add-to-cart"
                               id="purchase-submit-btn" 
                               data-product_id="{{product.id}}"
                               data-name="{{product.name}}"
                               data-price="{{product.price}}"
                               data-discount="{{product.discount}}"
                               data-toggle="modal" data-target="#exampleModalCenter">
                                {% trans "Add to cart" %}
                              </button>
                              
                              <!-- Modal -->
                              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle"> {% trans "Hello" %} :)</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body"> {% trans "You need to come through small registration to make an order. Only few seconds. After this you'll have your own super cool profile with all your orders" %}
                                    </div>
                                    <div class="modal-footer">
                                      <button  type="button" class="btn btn-secondary" data-dismiss="modal"> {% trans "Close" %}</button>
                                      <a href="{% url 'allauth:account_login' %}?next={{ request.path_info}}" class="btn btn-primary"  role="button"> {% trans "Yes, no problems!" %}</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                               {% endif %}

                                
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h4 class="descriprion-text">{{ product.description }}</h4>
                </div>
            </div>
            

        </div><!-- flex -->
        </div><!--col-->
        
    </div><!--row-->
    
</div> <!-- product-detail-container-->
<div class="section-delivery d-flex justify-content-center">
    <div class="align-self-center">
        <h3>Free shipping</h3>
    </div>
</div>


{% endblock content %}
{% block script %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock script %}