{% load i18n %}

{% get_language_info_list for LANGUAGES as languages %}
{% if settings.USE_I18N and languages|length > 1 %}
<form class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select class="custom-select my-1 mr-sm-2 " id="language-selector" name="language" onchange="this.form.submit()">
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                <span class="descriprion-text">{{ language.name_local }}</span> 
                {% comment %} {{ language.code }} {% endcomment %}
            </option>
        {% endfor %}
    </select>
</form>
{% endif %}