{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
      Checkout
    {% endblock title %}
</head>

{% block content %}

<body>
  <div class="container">
    <div class="row">

      <div class="col-md-10 offset-md-1 col-xs-12">
        <div>
          <h2>{% trans "Your order" %}</h2>
        </div>
        <table class="table table-hover text-center">
      <thead>
        <tr class="text-center">
          <th class="descriprion-text" scope="col">{% trans "no." %}</th>
          <th class="descriprion-text" scope="col"></th>
          <th class="descriprion-text" scope="col">{% trans "Item" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Specifications" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Quantity" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Price per item" %}</th>
          <th class="descriprion-text" scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for item in order.get_cart_items %}
        <tr>
          
          <td class="align-middle descriprion-text">{{ forloop.counter }}</td>
          <td style="width: 30%" class="align-middle"><a class="profile-product-link " href="{% url 'product:product_detail' product_id=item.product.id %}"><img src="{{ item.product.product_imgs.first.image.url }}" alt="product img" id="cart-product-img" class="img-fluid rounded"></a></td>
          <td class="text-center align-middle font-weight-bold descriprion-text"><a class="profile-product-link " href="{% url 'product:product_detail' product_id=item.product.id %}">
            {{ item.product.name }}</a></td>
          </a>
          <td class="align-middle descriprion-text">{{ item.details }}</td>
          <td class="align-middle descriprion-text">{{ item.nmb }}</td>
          <td class="align-middle descriprion-text">{{ item.price_per_item }}$</td>
          <td class="align-middle">{% comment %} <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" id="trash-link" onclick="return confirm_delete();"> {% endcomment %}
            <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" id="trash-link">
              <i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="descriprion-text" colspan= 3> {% trans "You have not added any items yet." %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
              <tr>
            {% if order.get_cart_total != None %}
            <td colspan=2>
              <strong class="pull-left descriprion-text">{% trans "Order Total:" %}</strong>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td class="descriprion-text" colspan= 1>
              $<strong>{{ order.get_cart_total }}</strong>
            </td>
            <td></td>
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
          </tr>
          </table>
          {% if order.get_cart_total %}
          <form action="." method="POST"> {% csrf_token %}
            <div>
              {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-success btn-block add-to-cart">{% trans "Ready!" %}</button>
          </form>
          {% else %}
          <a href="{% url 'landing:home' %}" class="btn btn-block btn-secondary pull-left">{% trans "Go shopping" %}</a> 
          {% endif %}
        </div>
      </div>
    </div> <!--row-->
  </div>
</body>
</html>

{% endblock content %}