{% extends "base.html" %}
{% load static i18n %}
{% block content %}
 <section>
   <div class="row mx-0">
  <div class="col-md-10 offset-md-1 mt-3"> 

    <table class="table table-hover text-center">
      <thead>
        <tr class="text-center">
          <th class="descriprion-text" scope="col">{% trans "no." %}</th>
          <th class="descriprion-text" scope="col"></th>
          <th class="descriprion-text" scope="col">{% trans "Item" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Specifications" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Quantity" %}</th>
          <th class="descriprion-text" scope="col">{% trans "Price per item" %}</th>
          <th class="descriprion-text" scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for item in order.get_cart_items %}
        <tr>
          
          <td class="align-middle descriprion-text">{{ forloop.counter }}</td>
          <td style="width: 30%" class="align-middle"><a class="profile-product-link " href="{% url 'product:product_detail' product_id=item.product.id %}"><img src="{{ item.product.product_imgs.first.image.url }}" alt="product img" id="cart-product-img" class="img-fluid rounded"></a></td>
          <td class="text-center align-middle font-weight-bold descriprion-text"><a class="profile-product-link " href="{% url 'product:product_detail' product_id=item.product.id %}">
            {{ item.product.name }}</a></td>
          </a>
          <td class="align-middle descriprion-text">{{ item.details }}</td>
          <td class="align-middle descriprion-text">{{ item.nmb }}</td>
          <td class="align-middle descriprion-text">{{ item.price_per_item }}$</td>
          <td class="align-middle">{% comment %} <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" id="trash-link" onclick="return confirm_delete();"> {% endcomment %}
            <a href="{% url 'shopping_cart:delete_item' item.id %}" data-balloon="remove this item from cart" class="text-danger" id="trash-link">
              <i class="fas fa-trash"></i></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td class="descriprion-text" colspan= 3> {% trans "You have not added any items yet." %}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          {% endfor %}
          <tr>
            {% if order.get_cart_total != None %}
            <td colspan=2>
              <strong class="pull-left descriprion-text">{% trans "Order Total:" %}</strong>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td class="descriprion-text" colspan= 1>
              $<strong>{{ order.get_cart_total }}</strong>
            </td>
            <td></td>
            {% else %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% endif %}
          </tr>
        </tbody>
        </table>
    <div class="row mx-0">
        <div class="col">
            <a href="{% url 'landing:home' %}" class="btn btn-block btn-secondary pull-left">
              
            {% if order.get_cart_total %}{% trans "Continue Shopping" %}{% else %}{% trans "Add Items to Cart" %}{% endif %}
            </a>
        </div>
        {% if order.get_cart_total %}
        <div class="col">
            <a href="{% url 'shopping_cart:checkout' %}" class="btn btn-block btn-success">{% trans "Proceed To Checkout" %}</a>
        </div>
        {% endif %}
      </div>
   </div>  <!--col-->
  </div>  <!--row--> 
 </section>
{% endblock %}
