<div class="navbar-font">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand pj" href="{% url 'landing:home' %}">PJ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'landing:home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing:practice2' %}"> Pr2</a>
                    </li>
                <!--
                    
                    <li class="nav-item fix-follow">
                        <a class="nav-link disabled follow-us" href="#">Follow us</a>
                        <span class="text-light mr-2"><i class="fas fa-crow"></i></span>
                        <a class="nav-link mr-2" href="https://www.facebook.com/Petrosyan-Jewelry-815650388514952/"><i class="fab fa-facebook-f"></i></a>
                        <a class="nav-link" href="https://www.instagram.com/petrosyan_jewelry/"><i class="fab fa-instagram"></i></a>
                    </li>
                -->
                    
               <div class="btn-group follow-us-btn"> 
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span>Follow us</span> <span class="text-light "><i class="fas fa-crow"></i></span>
                        </button>
                        <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.facebook.com/Petrosyan-Jewelry-815650388514952/"> <i class="fab fa-facebook-f  mr-1"></i>facebook</a>
                                <a class="dropdown-item" href="https://www.instagram.com/petrosyan_jewelry/"><i class="fab fa-instagram"></i> instagram</a>
                        </div>
                </div>

                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle follow-us-a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Follow us <span class="text-light "><i class="fas fa-crow"></i></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="https://www.facebook.com/Petrosyan-Jewelry-815650388514952/"> <i class="fab fa-facebook-f  mr-1"></i>facebook</a>
                                <a class="dropdown-item" href="https://www.instagram.com/petrosyan_jewelry/"><i class="fab fa-instagram"></i> instagram</a>
                        </div>
                </li>


                </ul>
                
                {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item fa-stack">
                        <a class="nav-link" href="{% url 'shopping_cart:order_summary' %}" id="cart-with-nmb">
                            <span id='cart_items_amount' class="p1" data-count={{cart_items_amount}}>
                                <i class="fa fa-cart-plus fa-stack-2x"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                {% endif %}
                
                {% comment %}ERROR HERE! {{ request.user.profile.get_pending_order.items.count }} {% endcomment %}

                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:my_profile' %}" id="">
                         {{request.user.username}}</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'allauth:account_logout' %}?next={{ request.path_info }}" id=""><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                         
                        {% else %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'allauth:account_login' %}?next={{ request.path_info }}" id="">
                        Вход <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                        {% endif %}
                </ul>                 
                {% comment %} <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> {% endcomment %}
            </div>
        </nav>
</div>