{% extends "base.html" %}
{% load static %}



<!-- breadcrumbs -->
    {% comment %} {% block breadcrumbs_container %}
    <nav class='navbar px-0' aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item "><a class='description-text' href="/">PJ</a></li>
            <li class="breadcrumb-item"><a href="{{ category.get_absolute_url }}">{{category.name}}</a></li>
            {% block breadcrumbs %}
            {% endblock breadcrumbs %}
        </ol>
    </nav>
    {% endblock breadcrumbs_container %} {% endcomment %}
    {% block breadcrumbs_container %}
<div class='container px-0 mx-0'>
<div class='row mx-1'>
    <div class='col-md-12'>
        <a href="{% url 'landing:home' %}" class="btn btn-light btn-lg active back-btn descriprion-text" role="button" aria-pressed="true"> <i class="fas fa-sm fa-chevron-left"></i> Все изделия </a>
    </div>
</div>
</div>
{% endblock breadcrumbs_container %}

{% block content %}
    
<div class="container-fluid img-h2-detail">
        <!-- <div class="text-center main-pic-con-home mb-5">
            <img src="{% static 'img/home_main_1.jpg' %}" class="img-fluid   main-pic" alt="home picture">
        </div>     -->
        
        <h2 class="black-text text-center home"> Jewelry & Accessories</h2>

    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="category-header"> {{category.name}} </h1>
                </div>
                {% for product_image in products_images %}
                    <div class="col-lg-4 mb-4">
                        <div class="product-item">
                            <a class="product-detail-link" href={% url 'product:product_detail' product_id=product_image.product.id%}>

                                <div>
                                    <img src="{{ product_image.image.url }}" alt="product img" class="img-fluid rounded">
                                </div>
                                
                                {% if product_image.product.discount %}
                                <div class="discount-container text-center d-flex flex-row justify-content-center">
                                    <h6 class="mb-0"><i>-{{product_image.product.discount}}%</i></h6>
                                </div>
                            {% endif %}
                            
                        <div class="text-center product-description">
                            <div class="text-center product-name mb-2">
                                <h4 class="descriprion-text product-name">{{product_image.product.name|truncatechars_html:57}}</h4>
                            </div>    
                        </a>
                            <div>
                                 <p class="my-0 descriprion-text"> 
                                    {% if product_image.product.discount %}
                                        <strike class="text-danger">{{ product_image.product.price }}</strike> {{ product_image.product.new_price }}
                                    {% else %}
                                        {{ product_image.product.price }}
                                 {% endif %}$ </p>
                            </div>
                        </div>
                        {% comment %} <div class="add-to-cart-btn">
                            <button class="btn btn-success"><i class="fa fa-cart-arrow-down"></i> Добавить в корзину</button>
                        </div> {% endcomment %}
                        </div>
                    </div>
                {% endfor %}
              
            </div>
        </div>
                        <div class="section-delivery d-flex justify-content-center">
                            <div class="align-self-center">
                                <h3>Free shipping</h3>
                            </div>
                        </div>
        

{% block script %}
<script src="{% static 'js/home_page.js' %}"></script>
{% endblock script %}
{% endblock content %}