{% extends "base.html" %}
{% load static %}

{% block title %}
Welcome
{% endblock title %}
{% block navbar %}
{% include "navbar_register.html" %}
{% endblock navbar %}
{% block content %}
   
    <div class="container-fluid img-h2-welcome">
        <div class="text-center main-pic-con-welcome">
            <img src="{% static 'img/home_main_1.jpg' %}" class="img-fluid main-pic-welcome mt-5" alt="home picture">
        </div>    
        
        <h2 class="black-text text-center welcome mt-5"> Jewelry & Accessories</h2>

    </div>
    <div>
        <form action={% url 'landing:home' %}>
            <div class="text-center button-join-us">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success btn-block join-us">Go shoping!</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    
    {% endblock content %}

    {% block script %}
    <script src="{% static 'js/welcome_page.js' %}"></script>
    {% endblock script %}